<div class="content">
    <form>

        <!--Material Card-->
        <mat-card class="home mat-elevation-z9" id="card">
            <mat-card-title >


                <!-- Titulo-->
                <div class="titulo ">
                    <h1>
                        <input class="cor" matInput [(ngModel)]="obra.nomeObra" type="text" name="nome" placeholder="Ex. obra da sesp" disabled>
                    </h1>
                </div>

                <!-- Input Nome da obra
                <mat-form-field class="form">
                    <mat-label>Nome da obra</mat-label>
                    <input class="cor" matInput [(ngModel)]="obra.nomeObra" type="text" name="nome" placeholder="Ex. obra da sesp" disabled>
                </mat-form-field>
                 -->


                <!-- Input Numero de Contrato -->
                <mat-form-field class="form">
                    <mat-label>Numero de Contrato</mat-label>
                    <input class="cor" matInput [(ngModel)]="obra.numeroContrato" type="text" name="contrato" placeholder="Ex. 1121/2009" disabled>
                </mat-form-field>

                <!-- Input Empresa Executora -->
                <mat-form-field class="form">
                    <mat-label>Empresa Executora</mat-label>
                    <input class="cor" matInput [(ngModel)]="obra.empresaExecutora" type="text" name="empresa" placeholder="Ex. Constru Paulo" disabled>
                </mat-form-field>

                <!-- Input Valor de Execução da Obra -->
                <mat-form-field class="form">
                    <mat-label>Valor de Execução da Obra</mat-label>
                    <input class="cor" matInput [(ngModel)]="obra.valorExecucaoObra" type="number"  name="valor-obra" placeholder="Ex. 9090.52" min="0" step="0.01" disabled>
                </mat-form-field>


                <!-- Input Prazo de Execução -->
                <mat-form-field class="form">
                    <mat-label>Prazo de Execução</mat-label>
                    <input class="cor" matInput  [(ngModel)]="obra.prazoExecucao" type="number" name="prazoExecucao" placeholder="Ex. 10" min="0" max = "10000" disabled>
                </mat-form-field>


                
                   
                <!--Botões-->
                <div class="buttons">
                    <button (click)="verMedicoes()" mat-raised-button color="primary"> VER MEDIÇÕES </button>
                    <button  class="mat-elevation-z100"  mat-raised-button color="warn"> VOLTAR </button>
                </div>

            </mat-card-title>
                
            <mat-card-subtitle class="subtitle"><H1></H1></mat-card-subtitle>
        </mat-card>
    </form > 
</div>
    

    

    

   

    

    

    

    

    


