<div class="content">
    <form>

        <!--Material Card-->
        <mat-card class="home mat-elevation-z9" id="card">
            <mat-card-title >

                <!-- Titulo-->
                <div class="titulo ">
                    <h1>Deletando Medição</h1>
                </div>



                <!-- Input Valor Medido -->
                <mat-form-field class="form">
                    <mat-label>Valor Medido</mat-label>
                    <input class="cor" matInput [(ngModel)]="medicao.valorMedido" type="number" name="valor" disabled>

                </mat-form-field>

                 <!-- Input Numero da Medição -->
                 <mat-form-field class="form">
                    <mat-label>Numero da Medição</mat-label>
                    <input class="cor" [(ngModel)]="medicao.numeroMedicao" matInput id="numMed" type="number" name="numMed" disabled >
                                    
                </mat-form-field>

                 <!-- Input Valor Medido -->
                 <mat-form-field class="form">
                    <mat-label>Mês da Medição</mat-label>
                    <input class="cor" matInput [(ngModel)]="medicao.mesMedicao" id="mesMed" type="month" name="mesMed" disabled>
                </mat-form-field>



                
                   
                <!--Botões-->
                <div class="buttons">
                    <button  (click)="delete()" mat-raised-button color="warn"> DELETAR </button>
                    <button  (click)="cancelar()" class="mat-elevation-z10"  mat-raised-button  color="primary"> CANCELAR </button>
                </div>

            </mat-card-title>
                
            <mat-card-subtitle class="subtitle"><H1></H1></mat-card-subtitle>
        </mat-card>
    </form > 
</div>
    

    

    

   

    

    

    

    

    

