<form>
    <h1>Editando Obra</h1>

    <!-- Input Nome da obra -->
    <mat-form-field class="full-width">
        <mat-label>Nome da obra</mat-label>
        <input matInput [formControl]="nome" required [(ngModel)]="obra.nomeObra" id="nome" type="text" name="nome" placeholder="Ex. obra da sesp" maxlength="100">
        <mat-error *ngIf=nome.invalid> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <!-- Input Numero de Contrato -->
    <mat-form-field class="full-width">
        <mat-label>Numero de Contrato</mat-label>
        <input matInput [formControl]="contrato" required [(ngModel)]="obra.numeroContrato" type="text" required name="contrato" placeholder="Ex. 1121/2009" maxlength="100">
        <mat-error *ngIf=contrato.invalid> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <!-- Input Empresa Executora -->
    <mat-form-field class="full-width">
        <mat-label>Empresa Executora</mat-label>
        <input matInput matInput [formControl]="empresa" [(ngModel)]="obra.empresaExecutora" type="text" required name="empresa" placeholder="Ex. Constru Paulo" maxlength="100">
        <mat-error *ngIf=empresa.invalid> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <!-- Input Fiscal -->
    <mat-form-field class="full-width">
        <mat-label>Fiscal</mat-label>
        <input matInput [formControl]="fiscal" [(ngModel)]="obra.nomeFiscal" type="text" required name="Fiscal" placeholder="Ex. Mirosvaldo"  maxlength="100">
        <mat-error *ngIf=fiscal.invalid> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <!-- Input Processo -->
    <mat-form-field class="full-width">
        <mat-label>Processo</mat-label>
        <input matInput [formControl]="processo" [(ngModel)]="obra.processo"  type="text" required name="processo" placeholder="Ex. sesp-pro-000/000">
        <mat-error *ngIf=processo.invalid> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <!-- Input Prazo de Execução -->
    <mat-form-field class="full-width">
        <mat-label>Prazo de Execução</mat-label>
        <input matInput  [(ngModel)]="obra.prazoExecucao" type="number" name="prazoExecucao" placeholder="Ex. 10" min="0" max = "1000">
    </mat-form-field>


    <!-- Input Quantidade de Aditivo de Prazo -->
    <mat-form-field class="full-width">
        <mat-label>Quantidade de Aditivo de Prazo</mat-label>
        <input matInput [(ngModel)]="obra.qtdAditivoPrazo" type="number" name="aditivo-prazo" placeholder="3" min="0" max = "100">
    </mat-form-field>

    <!-- Input Quantidade de Aditivo de Valor -->
    <mat-form-field class="full-width">
        <mat-label>Quantidade de Aditivo de Valor</mat-label>
        <input matInput [(ngModel)]="obra.qtdAditivoValor" type="number" name="aditivo-valor" placeholder="3" min="0" max = "100">
    </mat-form-field>

    <!-- Input Valor de Execução da Obra -->
    <mat-form-field class="full-width">
        <mat-label>Valor de Execução da Obra</mat-label>
        <input matInput [(ngModel)]="obra.valorExecucaoObra" type="number" name="valor-obra" placeholder="0" min="0" step="0.01">
    </mat-form-field>

    <button class="mat-elevation-z8" mat-stroked-button [disabled]="getMessage()" (click)="update()" color="primary">EDITAR</button>
    <button class="mat-elevation-z8" mat-stroked-button (click)="cancelar()" color="warn">CANCELAR</button>


    

</form > 


















