<div class="content">
    <form>

        <!--Material Card-->
        <mat-card class="home mat-elevation-z9" id="card">
            <mat-card-title >

                <!-- Titulo-->
                <div class="titulo ">
                    <h1>Criando Nova Obra</h1>
                </div>

                <!-- Input Nome da obra -->
                <mat-form-field class="form">
                    <mat-label>Nome da obra</mat-label>
                    <input matInput [formControl]="nome" required [(ngModel)]="obra.nomeObra" id="nome" type="text" name="nome" placeholder="Ex. obra da sesp" maxlength="100">
                    <mat-error *ngIf=nome.invalid> {{ getMessage() }} </mat-error>
                </mat-form-field>

                <!-- Input Numero de Contrato -->
                <mat-form-field class="form">
                    <mat-label>Numero de Contrato</mat-label>
                    <input matInput [formControl]="contrato" required [(ngModel)]="obra.numeroContrato" type="text" required name="contrato" placeholder="Ex. 1121/2009" maxlength="100">
                    <mat-error *ngIf=contrato.invalid> {{ getMessage() }} </mat-error>
                </mat-form-field>

                <!-- Input Empresa Executora -->
                <mat-form-field class="form">
                    <mat-label>Empresa Executora</mat-label>
                    <input matInput matInput [formControl]="empresa" [(ngModel)]="obra.empresaExecutora" type="text" required name="empresa" placeholder="Ex. Constru Paulo" maxlength="100">
                    <mat-error *ngIf=empresa.invalid> {{ getMessage() }} </mat-error>
                </mat-form-field>

                <!-- Input Fiscal -->
                <mat-form-field class="form">
                    <mat-label>Fiscal</mat-label>
                    <input matInput [formControl]="fiscal" [(ngModel)]="obra.nomeFiscal" type="text" required name="Fiscal" placeholder="Ex. Mirosvaldo"  maxlength="100">
                    <mat-error *ngIf=fiscal.invalid> {{ getMessage() }} </mat-error>
                </mat-form-field>

                <!-- Input Processo -->
                <mat-form-field class="form">
                    <mat-label>Processo</mat-label>
                    <input matInput [formControl]="processo" [(ngModel)]="obra.processo"  type="text" required name="processo" placeholder="Ex. sesp-pro-000/000">
                    <mat-error *ngIf=processo.invalid> {{ getMessage() }} </mat-error>
                </mat-form-field>

                <!-- Input Valor de Execução da Obra -->
                <mat-form-field class="form">
                    <mat-label>Valor de Execução da Obra</mat-label>
                    <input matInput [(ngModel)]="obra.valorExecucaoObra" type="number" name="valor-obra" placeholder="Ex. 9090.52" min="0" step="0.01">
                </mat-form-field>

                <!-- Input Quantidade de Aditivo de Prazo -->
                <mat-form-field class="form">
                    <mat-label>Quantidade de Aditivo de Prazo</mat-label>
                    <input matInput [(ngModel)]="obra.qtdAditivoPrazo" type="number" name="aditivo-prazo" placeholder="Ex. 3" min="0" max = "100">
                </mat-form-field>

                <!-- Input Quantidade de Aditivo de Valor -->
                <mat-form-field class="form">
                    <mat-label>Quantidade de Aditivo de Valor</mat-label>
                    <input matInput [(ngModel)]="obra.qtdAditivoValor" type="number" name="aditivo-valor" placeholder="Ex. 3" min="0" max = "100">
                </mat-form-field>

                <!-- Input Prazo de Execução -->
                <mat-form-field class="form">
                    <mat-label>Prazo de Execução</mat-label>
                    <input matInput  [(ngModel)]="obra.prazoExecucao" type="number" name="prazoExecucao" placeholder="Ex. 10" min="0" max = "100">
                </mat-form-field>


                
                   
                <!--Botões-->
                <div class="buttons">
                    <button [disabled]="getMessage()"  (click)="create()"  mat-raised-button color="primary"> CRIAR </button>
                    <button (click)="cancelar()" class="mat-elevation-z100"  mat-raised-button color="warn"> CANCELAR </button>
                </div>

            </mat-card-title>
                
            <mat-card-subtitle class="subtitle"><H1></H1></mat-card-subtitle>
        </mat-card>
    </form > 
</div>
    

    

    

   

    

    

    

    

    

