<div class="content">
    <form>
        <mat-card class="home mat-elevation-z9">
            <mat-card-title class="title">
                <div>
                    <h1>Criando Nova Obra</h1>
                </div>
                <mat-form-field class="form">
                    <mat-label>Nome da obra</mat-label>
                    <input matInput type="text" name="nome" placeholder="Ex. obra da sesp">
                </mat-form-field>
                <mat-form-field class="form">
                    <mat-label>Numero de Contrato</mat-label>
                    <input matInput type="text" name="contrato" placeholder="Ex. 1121/2009">
                </mat-form-field>
                <mat-form-field class="form">
                    <mat-label>Empresa Executora</mat-label>
                    <input matInput type="text" name="empresa" placeholder="Ex. Constru Paulo">
                </mat-form-field>

                <mat-form-field class="form">
                    <mat-label>Processo</mat-label>
                    <input matInput type="text" name="processo" placeholder="Ex. sesp-pro-000/000">
                </mat-form-field>

                <mat-form-field class="form">
                    <mat-label>Valor de Execução da Obra</mat-label>
                    <input matInput type="number" name="valor-obra" placeholder="Ex. 9090.52" min="0">
                </mat-form-field>

                <mat-form-field class="form">
                    <mat-label>Quantidade de Aditivo de Prazo</mat-label>
                    <input matInput type="number" name="aditivo-prazo" placeholder="Ex. 3" min="0" max = "100">
                </mat-form-field>

                <mat-form-field class="form">
                    <mat-label >Quantidade de Aditivo de Valor</mat-label>
                    <input matInput type="number" name="aditivo-valor" placeholder="Ex. 2" min="0" max = "100" >
                </mat-form-field>   

                <div class="buttons">
                    <button class="mat-elevation-z100"  mat-raised-button color="primary"> CRIAR </button>
                    <button class="mat-elevation-z100"  mat-raised-button color="warn"> CANCELAR </button>
                </div>

            </mat-card-title>
                
            <mat-card-subtitle class="subtitle"><H1></H1></mat-card-subtitle>
        </mat-card>
    </form > 
</div>
    

    

    

   

    

    

    

    

    

