form {
    width: 50%;
    justify-content: center;
    justify-items: center;
    margin: auto;
    
}
h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.full-width{
    width: 45%;
}


button{
    width: 90%;
    margin-bottom: 0.5rem;
}
