.content{
    width: 90%;
    margin: 0.6 auto;
}

form {
    text-align: center;
    width: 100%;
}

h1{
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form{
    width: 27rem;
}


.buttons{
    padding-left: 1rem;
    width: 90%;
    text-align: justify;
}

button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}